
.page404 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.page404 header {
    font-size: 10rem;
    font-weight: 100;
}

.page404 p {
    font-size: 2rem;
}

.page404Link,
.page404Link:active {
    text-decoration: none;
    color: #008080;
}

.page404Link:hover {
    text-decoration: underline;
    color: rgba(0, 128, 128, 0.9);
}